$regularPrimaryFont: 'fregatregular', sans-serif;
$boldPrimaryFont: 'fregatbold', sans-serif;

$regularSecondaryFont: "PTSansRegular", sans-serif;
$boldSecondaryFont: "PTSansBold", sans-serif;

//$primaryColor: #010101;
