@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSans/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSans/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "FregatRegular";
  src: url("../fonts/Fregat/FregatRegular/FregatRegular.eot");
  src: url("../fonts/Fregat/FregatRegular/FregatRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Fregat/FregatRegular/FregatRegular.woff") format("woff"), url("../fonts/Fregat/FregatRegular/FregatRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "FregatBold";
  src: url("../fonts/Fregat/FregatBold/FregatBold.eot");
  src: url("../fonts/Fregat/FregatBold/FregatBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Fregat/FregatBold/FregatBold.woff") format("woff"), url("../fonts/Fregat/FregatBold/FregatBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

*,
*:after,
*:before {
  box-sizing: border-box;
  transition: all 0.4s ease-in;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body, html {
  min-height: 100%; }

.ma-header {
  padding: 35px 0 0px; }

.navbar {
  background: none;
  border: none;
  margin-bottom: 0px; }

.navbar-collapse {
  padding-right: 0; }

.ma-logo {
  text-decoration: none;
  color: #363636;
  font-family: "FregatBold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0; }

.navbar-default .navbar-nav > li > a {
  color: #363636; }

.navbar-default .navbar-brand {
  color: #363636; }

.navbar-nav {
  margin: auto -20px; }

.nav__link {
  display: block;
  text-decoration: none;
  color: #363636;
  font-family: "FregatRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.1px;
  padding: 0 !important;
  position: relative;
  margin: 0 5px; }
  .nav__link:before {
    content: " \2022 ";
    position: absolute;
    right: 7px;
    left: -7px;
    top: 0;
    bottom: 0; }
  .nav__link--first:before {
    content: ""; }
  .nav__link:hover {
    border-bottom: 1px solid #363636; }

.ma-hero {
  padding: 90px 100px 97px;
  background: #d8efd7 url("../img/hero-bg.jpg") 50% no-repeat;
  background-size: cover; }
  .ma-hero__title {
    color: #4cb027;
    font-family: "FregatBold", sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 34px; }
  .ma-hero__description {
    color: #4e4e4e;
    font-family: "PTSansRegular", sans-serif;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 92px; }
  .ma-hero__btn-registration {
    padding: 13px 39px 10px 50px;
    border: 2px solid #63b945;
    border-radius: 5px;
    background: #63b945;
    color: #ffffff;
    font-family: "PTSansBold", sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 7px;
    margin-right: 32px; }
    .ma-hero__btn-registration:hover {
      box-shadow: 0 0 5px 2px rgba(99, 185, 69, 0.8);
      color: #ffffff;
      text-decoration: none;
      transition: all 0.2s ease-in; }
  .ma-hero__btn-learn {
    padding: 13px 18px 10px 20px;
    border: 2px solid #63b945;
    border-radius: 5px;
    color: #63b945;
    font-family: "PTSansBold", sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; }
    .ma-hero__btn-learn:hover {
      box-shadow: 0 0 5px 2px rgba(99, 185, 69, 0.8);
      text-decoration: none;
      color: #63b945;
      transition: all 0.2s ease-in; }

.ma-about-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.ma-about {
  padding: 38px 0 26px;
  background: #63b945; }
  .ma-about__title {
    color: #ffffff;
    font-family: "FregatBold", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 39px;
    margin-left: -61px; }
  .ma-about__description {
    list-style-type: none;
    color: #ffffff;
    font-family: "PTSansRegular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-right: -75px;
    position: relative;
    padding-left: 10px; }
    .ma-about__description :before {
      content: " \003E ";
      position: absolute;
      left: 0; }

.ma-what {
  padding-top: 43px;
  padding-bottom: 31px;
  text-align: center; }
  .ma-what__title {
    color: #4cb027;
    font-family: "FregatBold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 23px;
    text-transform: uppercase; }
  .ma-what__description {
    color: #313131;
    font-family: "PTSansRegular", sans-serif;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 32px;
    padding-left: 36px; }

.ma-slider-content {
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 44px; }

.carousel-control.right,
.carousel-control.left {
  background-image: none; }

.carousel-control.right {
  right: -136px;
  top: -43px; }

.carousel-control.left {
  left: -168px;
  top: -19px; }

.glyphicon-chevron-right:before {
  content: url("../img/arrow-right.png"); }

.glyphicon-chevron-left:before {
  content: url("../img/arrow-left.png"); }

.carousel-inner > .item > img {
  display: block;
  max-width: 100%;
  height: 100%; }

.ma-what-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left; }

.ma-what-text {
  margin-bottom: 25px; }
  .ma-what-text__list-item {
    list-style-type: none;
    color: #666666;
    font-family: "PTSansRegular", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 16px;
    position: relative;
    padding-left: 13px; }
    .ma-what-text__list-item:before {
      content: " \2714 ";
      color: #4cb027;
      position: absolute;
      left: -12px;
      font-size: 24px; }
    .ma-what-text__list-item--second {
      padding-left: 26px; }
      .ma-what-text__list-item--second:before {
        left: 0; }

.ma-what-description {
  color: #a2a2a2;
  font-family: "PTSansRegular", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.ma-call {
  padding: 34px 0 68px;
  background: #ddffcc;
  text-align: center; }
  .ma-call__title {
    color: #707070;
    font-family: "FregatBold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: uppercase; }
  .ma-call__description {
    color: #a2a2a2;
    font-family: "PTSansRegular", sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 41px; }
  .ma-call__contact-info {
    color: #656565;
    font-family: "PTSansRegular", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 32px; }
  .ma-call__contact-address {
    line-height: 1.2 !important; }
    .ma-call__contact-address:last-child {
      padding-left: 12px; }
  .ma-call__contact-street {
    font-size: 16px; }
  .ma-call__calling {
    border: 1px solid #707070;
    border-radius: 2px;
    color: #656565;
    font-family: "PTSansBold", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 69px 10px 76px; }
    .ma-call__calling:hover {
      text-decoration: none;
      box-shadow: 0px 0px 2px 2px #4cb027;
      transition: all 0.2s ease-in; }

.ma-call-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.ma-info {
  background: #353231 url("../img/info-bg.jpg") 50% no-repeat;
  background-size: cover;
  padding: 61px 0 19px;
  text-align: center; }
  .ma-info__title {
    color: #66cc00;
    font-family: "FregatBold", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 34px;
    text-transform: uppercase; }
  .ma-info__subtitle, .ma-info__reason, .ma-info__fact-load, .ma-info__description {
    color: #ffffff;
    font-family: "PTSansBold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .ma-info__reason, .ma-info__description {
    font-family: "PTSansRegular", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 66px; }
  .ma-info__fact-hours {
    color: #63b945;
    font-family: "FregatBold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 59px; }
    .ma-info__fact-hours--big {
      font-size: 48px; }

.ma-info-facts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .ma-info-facts__fact {
    margin: 30px 15px;
    position: relative; }
  .ma-info-facts__img {
    margin-bottom: 26px; }
  .ma-info-facts__description {
    color: #4cb027;
    font-family: "PTSansRegular", sans-serif;
    font-size: 20px;
    font-weight: bold; }
  .ma-info-facts__overlay {
    color: #4cb027;
    font-family: "PTSansBold", sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 0.7 !important;
    position: absolute;
    top: 53px;
    left: 0;
    right: 0;
    bottom: 0; }
    .ma-info-facts__overlay--small {
      font-size: 17px;
      font-weight: 400; }

.ma-cases {
  padding: 82px 0px 80px; }
  .ma-cases__title {
    color: #4cb027;
    font-family: "FregatBold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 69px; }
  .ma-cases__case {
    color: #666666;
    font-family: "PTSansRegular", sans-serif;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    margin-bottom: 26px; }
  .ma-cases__description {
    color: #666666;
    font-family: "PTSansRegular", sans-serif;
    font-size: 15px;
    font-weight: 400; }
  .ma-cases__link {
    color: #666666;
    font-family: "PTSansBold", sans-serif;
    font-size: 15px;
    font-weight: 700; }

.ma-cases-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.ma-cases-first-item {
  margin-bottom: 77px;
  padding-left: 71px; }
  .ma-cases-first-item__title {
    margin-top: 73px; }
    .ma-cases-first-item__title:before {
      content: url("../img/one.png");
      position: absolute;
      top: -83px;
      right: 0;
      bottom: 0;
      left: 2px;
      z-index: -1; }

.ma-cases-second-item {
  margin-bottom: 46px; }
  .ma-cases-second-item__title {
    margin-top: 80px;
    margin-left: 9px; }
    .ma-cases-second-item__title:before {
      content: "2";
      position: absolute;
      top: -120px;
      right: 0;
      bottom: 0;
      left: 0;
      color: #bff6a3;
      font-family: "FregatBold", sans-serif;
      font-size: 200px;
      font-weight: 700;
      z-index: -1; }
  .ma-cases-second-item__description {
    margin-left: 9px; }
  .ma-cases-second-item__img {
    margin-left: 6px; }

.ma-cases-third-item {
  margin-bottom: 78px;
  padding-left: 61px; }
  .ma-cases-third-item__title {
    margin-top: 97px; }
    .ma-cases-third-item__title:before {
      content: " 3 ";
      position: absolute;
      top: -121px;
      right: 0;
      bottom: 0;
      left: -3px;
      color: #bff6a3;
      font-family: "FregatBold", sans-serif;
      font-size: 200px;
      font-weight: 700;
      z-index: -1; }
  .ma-cases-third-item__img {
    margin-left: 4px; }

.ma-cases-fourth-item {
  margin-bottom: 46px; }
  .ma-cases-fourth-item__title {
    margin-top: 94px;
    margin-left: 9px; }
    .ma-cases-fourth-item__title:before {
      content: "4";
      position: absolute;
      top: -129px;
      right: 0;
      bottom: 0;
      left: -3px;
      color: #bff6a3;
      font-family: "FregatBold", sans-serif;
      font-size: 200px;
      font-weight: 700;
      z-index: -1; }
  .ma-cases-fourth-item__description {
    margin-left: 9px; }
  .ma-cases-fourth-item__img {
    margin-left: 9px; }
