@import "_variables.scss";
@import "header/_main.scss";
@import "hero/_main.scss";
@import "about/_main.scss";
@import "what/_main.scss";
@import "call/_main.scss";
@import "info/_main.scss";
@import "cases/_main.scss";
@import "scheme/_main.scss";
@import "why/_main.scss";
@import "callback/_main.scss";
@import "footer/_main.scss";


@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/PTSans/PTSansRegular/PTSansRegular.woff") format("woff"),
  url("../fonts/PTSans/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/PTSans/PTSansBold/PTSansBold.woff") format("woff"),
  url("../fonts/PTSans/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FregatRegular";
  src: url("../fonts/Fregat/FregatRegular/FregatRegular.eot");
  src: url("../fonts/Fregat/FregatRegular/FregatRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Fregat/FregatRegular/FregatRegular.woff") format("woff"),
  url("../fonts/Fregat/FregatRegular/FregatRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FregatBold";
  src: url("../fonts/Fregat/FregatBold/FregatBold.eot");
  src: url("../fonts/Fregat/FregatBold/FregatBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Fregat/FregatBold/FregatBold.woff") format("woff"),
  url("../fonts/Fregat/FregatBold/FregatBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  transition: all 0.4s ease-in;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body, html {
  min-height: 100%;
}

@media (min-width: 768px) and (max-width: 920px) {
  .carousel-control.right {
    right: -8px;
  }
  .carousel-control.left {
    left: -44px;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .nav__link {
    &:before {
      content: '';
    }
    &:hover {
      border: none;
      text-decoration: underline !important;
    }
  }
  .ma-about__title {
    text-align: center;
  }
  .carousel {
    margin-left: 40px;
  }
  .carousel-control.right {
    right: -22px !important;
  }
  .carousel-control.left {
    left: -21px !important;
  }
  .ma-what-text__list-item {
    &--second {
      padding-left: 13px;
      &:before {
        left: -12px;
      }
    }
  }
  .ma-what-flex {
    margin: auto 10%;
  }
  .ma-scheme-flex {
    justify-content: center;
  }
  .ma-scheme__img {
    margin-left: 0;
  }

  .ma-cases-item-text {
    order: 1;
  }
  .ma-cases-item-img {
    order:2;
  }
}

@media (max-width: 489px) {
  .ma-hero {
    &__btn-registration,
    &__btn-learn {
      width: 100%;
      text-align: center;
    }
    &__btn-registration {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media (max-width: 1050px) {
  .carousel-control.right {
    right: -80px;
  }
  .carousel-control.left {
    left: -117px;
  }
}

@media (max-width: 920px) {
  .carousel {
    margin-left: 20px;
  }

  .carousel-control.right {
    right: -8px;
  }
  .carousel-control.left {
    left: -44px;
  }
}

@media (max-width: 1200px) {
  .ma-cases-first-item,
  .ma-cases-third-item {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .ma-form {
    padding-left: 20%;
  }
}

@media (max-width: 767px) {
  .ma-form {
    padding-left: 0;
  }
}